cpt:
	labels:
		name: _x(Advertisements, post type general name)
		singular_name: _x(Advertisement, post type singular name)
		menu_name: _x(Advertisements, post type menu name)
		add_new: _x(Add New, advertisement)
		add_new_item: Add New Advertisement
		edit_item: Edit Advertisement
		new_item: New Advertisement
		view_item: View Advertisement
		search_items: Search Advertisements
		not_found: No Advertisements found
		not_found_in_trash: No Advertisements found in Trash
		all_items: All Advertisements

	args:
		supports:
			- title
			- page-attributes


taxonomies:
	spaces:
		labels:
			name: _x(Advertisements Categories, taxonomy general name)
			menu_name: _x(Categories, taxonomy menu name)
			singular_name: _x(Category, taxonomy singular name)
			search_items: Search Categories
			all_items: All Categories
			parent_item: Parent Category
			parent_item_colon: 'Parent Cateogry:'
			edit_item: Edit Category
			view_item: View Category
			update_item: Update Category
			add_new_item: Add New Category
			new_item_name: New Category Name


metaboxes:
	space:
		title: _x(Advertisement Options, custom metabox title)
		config: space
