# Disabling elements

#page-title: disabled

# Overloading default config

#portfolio:
#	title: Super Portfolio # overload title
#	configuration:
#		cpt:
#			- portfolio
#		assets:
#			js:
#				......
#		columnable: false

