cpt:
	labels:
		name: _x(Services, post type general name)
		singular_name: _x(Service, post type singular name)
		menu_name: _x(Services, post type menu name)
		add_new: _x(Add New, service)
		add_new_item: Add New Service
		edit_item: Edit Service
		new_item: New Service
		view_item: View Service
		search_items: Search Services
		not_found: No Services found
		not_found_in_trash: No Services found in Trash
		all_items: All Services

	args:
		supports:
			- title
			- page-attributes


taxonomies:
	boxes:
		labels:
			name: _x(Services Categories, taxonomy general name)
			menu_name: _x(Categories, taxonomy menu name)
			singular_name: _x(Category, taxonomy singular name)
			search_items: Search Categories
			all_items: All Categories
			parent_item: Parent Category
			parent_item_colon: 'Parent Cateogry:'
			edit_item: Edit Category
			view_item: View Category
			update_item: Update Category
			add_new_item: Add New Category
			new_item_name: New Category Name


metaboxes:
	box-data:
		title: _x(Service Options, custom metabox title)
		config: box-data
