position:
	label: _x(Position, job position)
	type: text
	help: 'Position of member in the company, community, etc'

about:
	label: About member
	type: textarea
	rows: 8
	help: Information about member

icons:
	label: Social Icons
	type: clone
	max: 10
	help: 'Add new Social Icon by click on "+ Add New Item" link, or remove existing Social Icon by click on red cross. Click on "Remove All Items" link to remove all existing Social Icons.'
	items:
		title:
			label: Title
			type: text
			help: "Social icon title"
		image:
			label: Image
			type: image
			help: "Social icon image"
		url:
			label: Link
			type: url
			help: "Social icon link, use valid URL format with http://"
	default: []