public: true
class: AitItemCpt

cpt:
	labels:
		name: _x(Items, post type general name)
		singular_name: _x(Item, post type singular name)
		menu_name: _x(Items, post type menu name)
		add_new: _x(Add New, Item)
		add_new_item: Add New Item
		edit_item: Edit Item
		new_item: New Item
		view_item: View Item
		search_items: Search Items
		not_found: No Items found
		not_found_in_trash: No Items found in Trash
		all_items: All Items


	args:
		supports:
			- title
			- thumbnail
			- editor
			- page-attributes
			- excerpt
			- comments
		capability_type: ['ait-item', 'ait-items']
		map_meta_cap: true
		capabilities:
			edit_post: ait_toolkit_items_edit_item
			read_post: ait_toolkit_items_read_item
			delete_post: ait_toolkit_items_delete_item
			edit_posts: ait_toolkit_items_edit_items
			edit_others_posts: ait_toolkit_items_edit_others_items
			publish_posts: ait_toolkit_items_publish_items
			read_private_posts: ait_toolkit_items_read_private_items
			read: ait_toolkit_items_read_items
			delete_posts: ait_toolkit_items_delete_items
			delete_private_posts: ait_toolkit_items_delete_private_items
			delete_published_posts: ait_toolkit_items_delete_published_items
			delete_others_posts: ait_toolkit_items_delete_others_items
			edit_private_posts: ait_toolkit_items_edit_private_items
			edit_published_posts: ait_toolkit_items_edit_published_items

taxonomies:
	items:
		labels:
			name: _x(Item Categories, taxonomy general name)
			menu_name: _x(Item Categories, taxonomy menu name)
			singular_name: _x(Item Category, taxonomy singular name)
			search_items: Search Categories
			all_items: All Categories
			parent_item: Parent Category
			parent_item_colon: 'Parent Category:'
			edit_item: Edit Category
			view_item: View Category
			update_item: Update Category
			add_new_item: Add New Category
			new_item_name: New Category Name
		args:
			rewrite:
				slug: 'cat'
			capabilities:
				manage_terms: ait_toolkit_items_category_manage_items
				edit_terms: ait_toolkit_items_category_edit_items
				delete_terms: ait_toolkit_items_category_delete_items
				assign_terms: ait_toolkit_items_category_assign_items
	locations:
		labels:
			name: _x(Item Locations, taxonomy general name)
			menu_name: _x(Item Locations, taxonomy menu name)
			singular_name: _x(Item Location, taxonomy singular name)
			search_items: Search Categories
			all_items: All Categories
			parent_item: Parent Category
			parent_item_colon: 'Parent Cateogry:'
			edit_item: Edit Category
			view_item: View Category
			update_item: Update Category
			add_new_item: Add New Category
			new_item_name: New Category Name
		args:
			rewrite:
				slug: 'loc'
			capabilities:
				manage_terms: ait_toolkit_items_category_manage_locations
				edit_terms: ait_toolkit_items_category_edit_locations
				delete_terms: ait_toolkit_items_category_delete_locations
				assign_terms: ait_toolkit_items_category_assign_locations
	#items_tags:
	#	labels:
	#		name: _x(Item Tags, taxonomy general name)
	#		menu_name: _x(Item Tags, taxonomy menu name)
	#		singular_name: _x(Item Tag, taxonomy singular name)
	#		search_items: Search Tags
	#		all_items: All Tags
	#		parent_item: Parent Tag
	#		parent_item_colon: 'Parent Tag:'
	#		edit_item: Edit Tag
	#		view_item: View Tag
	#		update_item: Update Tag
	#		add_new_item: Add New Tag
	#		new_item_name: New Tag Name
	#	args:
	#		hierarchical: false
	#		capabilities:
	#			manage_terms: ait_toolkit_items_category_manage_tags
	#			edit_terms: ait_toolkit_items_category_edit_tags
	#			delete_terms: ait_toolkit_items_category_delete_tags
	#			assign_terms: ait_toolkit_items_category_assign_tags

metaboxes:
	#item-featured:
	#	title: _x(Item Featured, custom metabox title)
	#	config: item-featured
	item-data:
		title: _x(Item Options, custom metabox title)
		config: item-data
		saveCallback: ['AitItemCpt', 'saveItemMeta']
	item-author:
		title: _x(Author Options, custom metabox title)
		config: item-author
		saveCallback: ['AitItemCpt', 'saveAuthorMetabox']


featuredImageMetabox:
	labels:
		title: _x(Item Image, featured image metabox)
		linkSetTitle: _x(Set Item Image, featured image metabox)
		linkRemoveTitle: _x(Remove Item Image, featured image metabox)
	context: normal
	priority: default
